/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .displays-template-default {
   overflow: hidden;
 }

 .smart-slider-container {
 	z-index: 99999999;
 	position: fixed;
 	width: 100%;
 	height: 100vh;
 	left: 0;
 	top:0;
 	background-color: #ffffff;
 }

 .smart-slider-container div#n2-ss-6 .n2-full-screen-widget {
 	z-index: 9999999999;
 	display: none !important;
 	opacity: 1 !important;
 }

 .widgets {
 	position: fixed;
 	width: 100%;
 	z-index: 99;
 	left: 0;
 	top: 0;
 	font-size: 40px;
 	color: white;
 	text-align: center;
 	font-size: 0;
 	padding: 20px 0;
 }

.image_left{ position: absolute; left: 15px; top:10px; }

.image_right{ position: absolute; right: 15px; top:10px;}

.imgLeft, .imgRight{ height:40px;width:auto !important; margin: 0px 20px;}

li.item.messageTicker{ display: flex; align-items: center;  justify-content: center;}

.image_left img , .image_right img{ height:50px; }


 @media only screen and (max-width : 400px) {
 	 .widgets {	padding: 0 5px; }
}


  .widgets .left, .widgets .center, .widgets .right {
  	display: inline-block;
  	vertical-align: middle;
  	width: 33.3%;
  	text-align: center;
  	font-size: 20px;
  	align-items: center;
  }

  .widgets .widget-logo {
  	display: inline-block;
  	height: 90px;
  	width: auto;
  	margin: auto;
  }

  @media only screen and (max-width : 1300px) {
    .widgets .widget-logo {
      height: 90px;
    }
  }

  .widgets .date-time-container {
  	text-align: center;
  	display: block;
  	width: 100%;
  }

  .widgets .date-time-container .date {
  	font-size: 30px;
    text-align: center;
  }
.newsfeed ul li a , li.item.messageTicker p { font-size:150% !important;}
  @media only screen and (max-width : 1300px) {
    .widgets .date-time-container .date {
      font-size: 20px;
    }
  }

  @media only screen and (max-width : 400px) {
  	.widgets .date-time-container .date {
	  	font-size: 14px;
	  }
  }

  .widgets .date-time-container #time {
  	font-weight: bold;
  	font-size: 50px;
  	margin-top: 25px;
    text-align: center;
  }

  @media only screen and (max-width : 1300px) {
    .widgets .date-time-container #time {
      font-size: 40px;
      margin-top: 15px;
    }
  }

  @media only screen and (max-width : 400px) {
  	.widgets .date-time-container #time {
	  	font-size: 20px;
	  	margin-top: 5px;
	  }
  }

  .widgets .weather-container {
  	width: 230px;
    display: inline-block;
  }

 @media only screen and (max-width : 400px) {
 	.widgets .weather-container {
	  	transform: scale(0.5);
	  	width: 100px;
	  }
 }

 #divi-sticky-header {
 	position: relative;
 	z-index: 999999999;
 }

  .newsfeed {
 	position: fixed;
 	width: 100%;
 	z-index: 999999999;
 	left: 0;
 	bottom: 0;
 	font-size: 18px !important;
 	color: white;
 	text-align: center;
 	font-size: 0;
 	padding: 20px 0;
 }

 @media only screen and (max-width : 400px) {
  	 .newsfeed {
	 	font-size: 14px !important;
	 }
 }

 .newsfeed ul {
 	width: 100%;
 	position: relative;
 	margin-left: 0px;
  list-style: none;
  margin-bottom: 0;
 }
 .newsfeed ul li {
  margin: 0;
  list-style: none;
 }

  .newsfeed ul li a{
  text-decoration: none;
  font-size: 20px;
 }
  @media only screen and (max-width : 800px) {
  	 .newsfeed ul {
	 	width: 96%;
	 	margin-left: 3%;
	 }
 }

  .newsfeed ul .owl-nav{
  	position: absolute;
  	width: 100%;
  	top: 50%;
  	margin-top: -14px;
  	left: 0;
  	font-weight: bold;
  }

  .newsfeed ul .owl-nav .owl-prev {
  	position: absolute;
  	top: 0;
  	font-size: 0;
  	left: 0;
  	opacity: 0.5;
  	transition: .3s;
  	width: 20px;
  }

  .newsfeed ul .owl-nav .owl-prev:before {
  	content: 'â€¹';
  	display: block;
  	text-indent: 0;
  	font-size: 60px;
  }

  .newsfeed ul .owl-nav .owl-prev:hover {
  	opacity: 1;
  }

  .newsfeed ul .owl-nav .owl-next {
  	position: absolute;
  	top: 0;
  	font-size: 0;
  	right: 0;
  	opacity: 0.5;
  	transition: .3s;
  	width: 20px;
  }

  .newsfeed ul .owl-nav .owl-next:before {
  	content: 'â€º';
  	display: block;
  	text-indent: 0;
  	font-size: 60px;
  }

  .newsfeed ul .owl-nav .owl-next:hover {
  	opacity: 1;
  }

  img.newsfeed-logo-left_right {
 	height: 50px;
 	width: auto;
 	position: absolute; 	
 	top: 50%;
 	margin-top: -25px;
 }

 /*.newsfeed-logo.left ,  .newsfeed-logo.left_right {
    left: 5%;
 }

  .newsfeed-logo.right , .newsfeed-logo.left_right {
    left: 90%;
 }*/

 @media only screen and (max-width : 800px) {
 	.newsfeed-logo {
	 	left: 2%;
	 	top: -12px;
	 	margin-top: 0;
	 }
 }